# 문자열 메소드 활용하기

## 변형

### `.capitalize()`, `title()`, `.upper()`

`.capitalize()` : 앞글자를 대문자로 만들어 반환합니다.

`.title()` : 어포스트로피나 공백 이후를 대문자로 만들어 반환합니다.

`.upper()` : 모두 대문자로 만들어 반환합니다.

In [4]:
a = "hI! Everyone, I'm kim"
# 아래에 코드를 작성하세요.

result_1 = a.capitalize()
print(result_1)     # 제일 앞글자만 대문자로 바꾸고 나머지는 소문자

result_2 = a.title()
print(result_2)

result_3 = a.upper()
print(result_3)

Hi! everyone, i'm kim
Hi! Everyone, I'M Kim
HI! EVERYONE, I'M KIM

### `lower()`, `swapcase()`

`lower()` : 모두 소문자로 만들어 반환합니다.

`swapcase()` : 대 ↔ 소문자로 변경하여 반환합니다.

In [5]:
a = "hI! Everyone, I'm kim"
# 아래에 코드를 작성하세요.

result_4 = a.lower()
print(result_4)

result_5 = a.swapcase()
print(result_5)


# .capitalize(), .title(), .upper(), .lower(), .upper() 는 스트링에 대해서만 사용가능 (가끔 공통으로 사용하는게 있을수도 있음)

hi! everyone, i'm kim
Hi! eVERYONE, i'M KIM

### `.join(iterable)`

Iterable 을 해당 문자열을 separator 로 합쳐서 문자열로 반환합니다.

In [6]:
# 아래에 코드를 작성하세요.
'!'.join('배고파')

'배!고!파'

In [7]:
words = ['Hello', 'Ssafy']
''.join(words)

'HelloSsafy'

### `.replace(old, new[, count])`

바꿀 대상 글자를 새로운 글자로 바꿔서 반환합니다. 

count를 지정하면 해당 갯수만큼만 시행합니다.

In [8]:
# 아래에 코드를 작성하세요.
'yay!'.replace('a','_')

'y_y!'

In [9]:
'wooooowooo'.replace('o', '', 2)

'wooowooo'

### 글씨 제거 (`strip([chars])`)

특정한 문자들을 지정하면,  양쪽을 제거하거나 왼쪽을 제거하거나(lstrip) 오른쪽을 제거합니다(rstrip)

지정하지 않으면 공백을 제거합니다.

In [11]:
# 아래에 코드를 작성하세요.
'      oh!\n'.strip()

'oh!'

In [12]:
'           oh!\n       '.lstrip()

'oh!\n       '

In [15]:
print('hohohohihihi'.rstrip('hi'))

print('hohohohihihi'.lstrip('hi'))

hohoho
ohohohihihi

## 탐색 및 검증

### `.find(x)` : x의 첫 번째 위치를 반환합니다. 없으면, -1을 반환합니다.

In [16]:
# 아래에 코드를 작성하세요.
'apple'.find('l')

3

In [19]:
'apple'.find('f')

-1

### `.index(x)` : x의 첫번째 위치를 반환합니다. 없으면, 오류가 발생합니다.

In [20]:
# 아래에 코드를 작성하세요.
'apple'.index('l')

3

In [21]:
'apple'.index('x')

ValueError: substring not found

## `split()`

문자열을 특정한 단위로 나누어 리스트로 반환합니다.

In [23]:
# 아래에 코드를 작성하세요.
'a_b_c'.split('_')

['a', 'b', 'c']

In [24]:
words =  input().split()   # ()안에 아무것도 안적으면 공백으로 구분
print(words)

hello world
['hello', 'world']

## 다양한 확인 메소드 : 참/거짓 반환
```
.isalpha(), .isdecimal(), .isdigit(), .isnumeric(), .isspace(), .issuper(), .istitle(), .islower()
```

```python
dir('string')
```

In [25]:
'hi'.isalpha()

True

In [26]:
dir('string')

['__add__',
 '__class__',
 '__contains__',
 '__delattr__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__getnewargs__',
 '__gt__',
 '__hash__',
 '__init__',
 '__init_subclass__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__mod__',
 '__mul__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__rmod__',
 '__rmul__',
 '__setattr__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'capitalize',
 'casefold',
 'center',
 'count',
 'encode',
 'endswith',
 'expandtabs',
 'find',
 'format',
 'format_map',
 'index',
 'isalnum',
 'isalpha',
 'isascii',
 'isdecimal',
 'isdigit',
 'isidentifier',
 'islower',
 'isnumeric',
 'isprintable',
 'isspace',
 'istitle',
 'isupper',
 'join',
 'ljust',
 'lower',
 'lstrip',
 'maketrans',
 'partition',
 'replace',
 'rfind',
 'rindex',
 'rjust',
 'rpartition',
 'rsplit',
 'rstrip',
 'split',
 'splitlines',
 'startswith',
 'strip',
 'swapcase',
 'title',
 'translate',
 'upper',
 'zfill']

# 리스트 메소드 활용하기

## 값 추가 및 삭제

### `.append(x)`

리스트에 값을 추가할 수 있습니다.

In [32]:
# 카페 리스트를 만들어봅시다.
cafes = ['starbucks', 'tomntoms', 'hollys']
print(cafes)

['starbucks', 'tomntoms', 'hollys']
['starbucks', 'tomntoms', 'hollys', 'cafebene']

In [38]:
# 값을 추가해봅시다.
cafes = ['starbucks', 'tomntoms', 'hollys']
cafes.append('cafebene')
print(cafes)

['starbucks', 'tomntoms', 'hollys', 'cafebene']

In [ ]:
# 어렵게 넣어보도록 해봅시다.
cafes[len(cafes):] = 'ffff'
print(cafe)

### `.extend(iterable)`

리스트에 iterable(list, range, tuple, string*유의*) 값을 붙일 수가 있습니다.

In [ ]:
# 앞서 만든 리스트에 추가해봅시다.
cafes.extend(['빽다방', 'banapresso'])

In [43]:
# 앞서 배운 list concatenate와 동일합니다.
cafes = ['starbucks', 'tomntoms', 'hollys', 'cafebene']
cafes += ['starbucks', 'twosomeplace']
print(cafes)

['starbucks', 'tomntoms', 'hollys', 'cafebene', 'starbucks', 'twosomeplace']

In [39]:
# append와 비교해봅시다.

### `insert(i, x)`

정해진 위치 `i`에 값을 추가합니다.

In [44]:
# 앞서 만든 리스트의 가장 앞에 'hi'를 넣어봅시다.
cafes.insert(0, 'hi')
print(cafes)

['hi', 'starbucks', 'tomntoms', 'hollys', 'cafebene', 'starbucks', 'twosomeplace']

In [45]:
# 앞서 만든 리스트의 가장 뒤에 'bye'를 넣어봅시다
cafes.insert(len(cafes), 'bye')
print(cafes)

['hi', 'starbucks', 'tomntoms', 'hollys', 'cafebene', 'starbucks', 'twosomeplace', 'bye']

In [47]:
# 길이를 넘어서는 인덱스는 무조건 마지막에 하나만 붙습니다.
cafes.insert(len(cafes) + 100, '!')
print(cafes)

['hi', 'starbucks', 'tomntoms', 'hollys', 'cafebene', 'starbucks', 'twosomeplace', 'bye', '!', '!']

### `.remove(x)`

리스트에서 값이 x인 것을 삭제합니다.

In [52]:
# remove를 사용해봅시다. - 값으로 접근해서 삭제, index로 접근해서 삭제 둘다 가능
numbers = [1, 2, 3, 1, 2]
print(numbers)

[1, 2, 3, 1, 2]

In [53]:
# 중복된 값 1을 삭제 해봅시다.
numbers.remove(1)
print(numbers)

[2, 3, 1, 2]

In [54]:
# 한번 더 삭제해봅시다.
numbers.remove(1)
print(numbers)

[2, 3, 2]

In [55]:
# remove는 값이 없으면 오류가 발생합니다. 확인해봅시다.
numbers.remove(1)
print(numbers)

ValueError: list.remove(x): x not in list

### `.pop(i)`

정해진 위치 `i`에 있는 값을 삭제하며, 그 항목을 반환합니다.

`i`가 지정되지 않으면 마지막 항목을 삭제하고 되돌려줍니다.

In [59]:
# pop을 사용해봅시다.
numbers = [1, 2, 3, 4, 5, 6]

In [60]:
# 가장 앞에 있는 것을 삭제해봅시다. return도 확인해보세요.
result = numbers.pop(0)
print(result)
print(numbers)

1
[2, 3, 4, 5, 6]

In [62]:
# 값이 return이 된다는 것은 별도의 변수에 저장할 수 있다는 것입니다. 
print(numbers)
deleted_value = numbers.pop()
print(f'{deleted_value}(이)가 삭제되어 {numbers}가 되었습니다.')

[2, 3, 4, 5]
5(이)가 삭제되어 [2, 3, 4]가 되었습니다.

## 탐색 및 정렬

### `.index(x)`

x 값을 찾아 해당 index 값을 반환합니다.

In [64]:
# index를 사용해봅시다.
numbers = [1, 2, 3, 4, 5]
numbers.index(3)

2

In [65]:
# index는 없을 시 오류가 발생합니다. 확인해봅시다. 
# 앞서 remove 역시도 같은 에러가 발생하였습니다. (ValueError)
numbers.index(6)

ValueError: 6 is not in list

### `.count(x)`

원하는 값의 갯수를 확인할 수 있습니다.

In [67]:
# count를 사용해봅시다.
numbers = [1, 2, 5, 1, 5, 1]
numbers.count(1)

3

In [70]:
# 따라서 원하는 값을 모두 삭제하려면 다음과 같이 할 수 있습니다.
numbers = [1, 2, 5, 1, 5, 1]
def removenum(n_list,n):
    for i in range(n_list.count(n)):
        n_list.remove(n)
    
removenum(numbers, 5)
print(numbers)

removenum(numbers, 1)
print(numbers)

[1, 2, 1, 1]
[2]

In [ ]:
# 모두 삭제되었는지 검증해봅시다.

### `.sort()`

정렬을 합니다. 

`sorted()`와는 다르게 원본 list를 변형시키고, None을 리턴합니다.

In [71]:
import random
lotto = random.sample(range(1, 46), 6)
print(lotto)

[4, 35, 2, 6, 42, 14]

In [75]:
# sort를 사용해봅시다.   -   sorted는 원본은 유지, sort는 원본 변형
import random
lotto = random.sample(range(1, 46), 6)
print(lotto)
print(sorted(lotto))
print(lotto)
print('========')
print(lotto.sort(reverse = True))
print(lotto)

[14, 28, 34, 40, 27, 21]
[14, 21, 27, 28, 34, 40]
[14, 28, 34, 40, 27, 21]
========
None
[14, 21, 27, 28, 34, 40]

### `reverse()`

반대로 뒤집습니다. (정렬 아님)

In [77]:
classroom = ['Tom', 'David', 'Justin']
print(classroom)

['Tom', 'David', 'Justin']

In [79]:
#   reversed는 원본유지, reverse는 원본변형

classroom.reverse()
print(classroom)

<list_reverseiterator object at 0x000002286B097FC8>
['Tom', 'David', 'Justin']

## 복사

In [81]:
# 리스트 복사를 해봅시다.
original_list = [1, 2, 3]

In [82]:
copied_list = original_list
print(copied_list)

[1, 2, 3]

In [83]:
# copied_list의 값을ㅇ 바꾸고 original_list를 출력해봅시다
copied_list[0] = 5
print(original_list)

[5, 2, 3]

In [84]:
# id 값을 확안해봅시다.
print(id(copied_list))
print(id(original_list))

2372601158408
2372601158408

In [85]:
# 숫자를 확인해봅시다.
a = 1004
b = a   # b ==1004
b = 300
print(a)

1004

In [86]:
# 딕셔너리도 확인해봅시다.
lunch = {'김밥카페': '라돈', '양자강': '차돌짬뽕'}
print(lunch)

dinner = lunch
dinner['김밥카페'] = '치즈라면'
print(lunch)

{'김밥카페': '라돈', '양자강': '차돌짬뽕'}
{'김밥카페': '치즈라면', '양자강': '차돌짬뽕'}

### copy
> [pythontutor](http://pythontutor.com/visualize.html#code=lunch%20%3D%20%7B'%EA%B9%80%EB%B0%A5%EC%B2%9C%EA%B5%AD'%3A%20'%EC%B9%98%EC%A6%88%EB%9D%BC%EB%A9%B4',%20'%EA%B9%80%EA%B0%80%EB%84%A4'%3A%20'%EC%A0%9C%EC%9C%A1%EB%B3%B6%EC%9D%8C'%7D%0Aprint%28lunch%29%0Adinner%20%3D%20lunch%0Adinner%5B'%EA%B9%80%EB%B0%A5%EC%B2%9C%EA%B5%AD'%5D%20%3D%20'%EC%B0%B8%EC%B9%98%EA%B9%80%EB%B0%A5'%0Aprint%28lunch%29&cumulative=false&curInstr=0&heapPrimitives=nevernest&mode=display&origin=opt-frontend.js&py=3&rawInputLstJSON=%5B%5D&textReferences=false)를 활용하여 자세하게 알아봅시다.

* 파이썬에서 모든 변수는 객체의 주소를 가지고 있을 뿐입니다. 

```
num = [1, 2, 3]
```

* 위와 같이 변수를 생성하면 hong이라는 객체를 생성하고, 변수에는 객체의 주소가 저장됩니다.

* 변경가능한(mutable) 자료형과 변경불가능한(immutable) 자료형은 서로 다르게 동작합니다.

따라서, 복사를 하고 싶을 때에는 다음과 같이 해야한다.

In [87]:
# 리스트를 복사해봅시다.
a = [1, 2, 3]
b = a[:]
b[0] = 5
print(a)

[1, 2, 3]

In [ ]:
# 다른 방법으로 복사해봅시다.
a = [1, 2, 3]
b = list(a)   # 아예 새 리스트라는 의미로 list선언을 해준다

* 하지만, 이렇게 하는 것도 일부 상황에만 서로 다른 얕은 복사(shallow copy)입니다.

In [88]:
# 2차원 배열을 복사해봅시다.
a = [1, 2, [1, 2]]
b = a[:]
b[2][0] = 5
print(a)

[1, 2, [5, 2]]

* 만일 중첩된 상황에서 복사를 하고 싶다면, 깊은 복사(deep copy)를 해야합니다. 

* 즉, 내부에 있는 모든 객체까지 새롭게 값이 변경됩니다.

In [89]:
# 깊은 복사를 사용해봅시다.
import copy
a = [1, 2, [1, 2]]
b = copy.deepcopy(a)
b[2][0] = 5
print(a)

[1, 2, [1, 2]]

## `.clear()`

리스트의 모든 항목을 삭제합니다.

In [90]:
# clear를 사용해봅시다.
numbers = list(range(1, 46))
print(numbers)
numbers.clear()
print(numbers)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45]
[]

# List Comprehension

List를 만들 수 있는 간단한 방법이 있습니다.

### 세제곱리스트

> 다음의 리스트를 만들어보세요. 

- 1~10까지의 숫자로 만든 세제곱 담긴 리스트 `cubic_list`

In [92]:
numbers = range(1, 11)

In [91]:
# 기존의방법
cubic_list = []
for i in range(1, 11):
    cubic_list.append(i ** 3)
print(cubic_list)

[1, 8, 27, 64, 125, 216, 343, 512, 729, 1000]

In [93]:
# List Comprehension
cubic_list = [number ** 3 for number in numbers]
print(cubic_list)

[1, 8, 27, 64, 125, 216, 343, 512, 729, 1000]

### 짝수리스트
> 다음의 리스트를 만들어보세요. 

- 1~10까지의 숫자중 짝수만 담긴 리스트 `even_list`
- 여러개의 `for` 혹은 `if`문을 중첩적으로 사용 가능합니다.

In [ ]:
numbers = range(1, 11)

In [94]:
# 기존의방법
even_list = []
for i in range(1, 11):
    if i % 2 == 0:
        even_list.append(i)
print(even_list)

[2, 4, 6, 8, 10]

In [96]:
# List Comprehension
even_list = [number for number in numbers if number % 2 == 0]
print(even_list)

[2, 4, 6, 8, 10]

### 곱집합

> 주어진 두 list의 가능한 모든 조합을 담은 `pair` 리스트를 만들어주세요.

1. 반복문 활용
2. list comprehension 활용

---

```
girls = ['jane', 'iu', 'mary']
boys = ['justin', 'david', 'kim']

예시 출력)
    
[('justin', 'jane'), ('justin', 'iu'), ('justin', 'mary'), ('david', 'jane'), ('david', 'iu'), ('david', 'mary'), ('kim', 'jane'), ('kim', 'iu'), ('kim', 'mary')]
```

In [98]:
girls = ['jane', 'iu', 'mary']
boys = ['justin', 'david', 'kim']

In [99]:
# 반복문을 활용하여 만들어주세요.
name_list = []
for n in boys:
    for name in girls:
        name_list.append((n,name))
print(name_list)

[('justin', 'jane'), ('justin', 'iu'), ('justin', 'mary'), ('david', 'jane'), ('david', 'iu'), ('david', 'mary'), ('kim', 'jane'), ('kim', 'iu'), ('kim', 'mary')]

In [100]:
# List comprehension을 활용하여 만들어주세요.
pairs = [(girl, boy) for girl in girls for boy in boys]
print(pairs)

[('jane', 'justin'), ('jane', 'david'), ('jane', 'kim'), ('iu', 'justin'), ('iu', 'david'), ('iu', 'kim'), ('mary', 'justin'), ('mary', 'david'), ('mary', 'kim')]

### 피타고라스 정리

> 주어진 조건(x < y < z < 50) 내에서 피타고라스 방정식의 해를 찾아보세요.

1. 반복문 활용

2. list comprehension 활용

```
예시 출력)
[(3, 4, 5), (5, 12, 13), (6, 8, 10), (7, 24, 25), (8, 15, 17), (9, 12, 15), (9, 40, 41), (10, 24, 26), (12, 16, 20), (12, 35, 37), (15, 20, 25), (15, 36, 39), (16, 30, 34), (18, 24, 30), (20, 21, 29), (21, 28, 35), (24, 32, 40), (27, 36, 45)]
```

In [102]:
# 반복문을 활용하여 만들어주세요.
result = []
for x in range(1, 50):
    for y in range(x, 50):
        for z in range(y, 50):
            if x ** 2 + y ** 2 == z ** 2:
                result.append((x, y, z))
print(result)

[(3, 4, 5), (5, 12, 13), (6, 8, 10), (7, 24, 25), (8, 15, 17), (9, 12, 15), (9, 40, 41), (10, 24, 26), (12, 16, 20), (12, 35, 37), (15, 20, 25), (15, 36, 39), (16, 30, 34), (18, 24, 30), (20, 21, 29), (21, 28, 35), (24, 32, 40), (27, 36, 45)]

In [105]:
# List comprehension을 활용하여 만들어주세요.
answer = [(x, y, z) for x in range(1, 50) for y in range(x, 50) for z in range(y, 50) if x ** 2 + y ** 2 == z ** 2]
print(answer)

[(3, 4, 5), (5, 12, 13), (6, 8, 10), (7, 24, 25), (8, 15, 17), (9, 12, 15), (9, 40, 41), (10, 24, 26), (12, 16, 20), (12, 35, 37), (15, 20, 25), (15, 36, 39), (16, 30, 34), (18, 24, 30), (20, 21, 29), (21, 28, 35), (24, 32, 40), (27, 36, 45)]

### 모음 제거하기

> 다음의 문장에서 모음(a, e, i, o, u)를 모두 제거하시오.

1. list comprehension만 사용해보세요.

``` 
    words = 'Life is too short, you need python!'

    예시출력)
    Lf s t shrt, y nd pythn!
```

In [126]:
# List comprehension을 활용하여 만들어주세요.
        
# words = 'Life is too short, you need python!'
# a = ['a', 'e', 'i', 'o', 'u']
# n_words = list(words)
# # print(n_words)
# result_list = [item for item in range(n_words.count(item)) if item not in a ]
# print(str(result_list))

words = 'Life is too short, you need python!'
vowels = 'aeiou'
result = [char for char in words if char not in vowels]
print(''.join(result))

Lf s t shrt, y nd pythn!

# 딕셔너리 메소드 활용

## 추가 및 삭제

### `.pop(key[, default])`

key가 딕셔너리에 있으면 제거하고 그 값을 돌려줍니다. 그렇지 않으면 default를 반환합니다.

default가 없는 상태에서 딕셔너리에 없으면 KeyError가 발생합니다.

In [ ]:
# pop을 사용해봅시다.
my_dict = {'apple': '사과', 'banana': '바나나'}

In [ ]:
# 딕셔너리에 없으면 에러가 발생합니다

In [ ]:
# 두번째 인자로 default를 설정할 수 있습니다

### `.update()`

값을 제공하는 key, value로 덮어씁니다.

In [ ]:
# update를 사용해봅시다.
my_dict = {'apple': '사과', 'banana': '바나나', 'melon': '멜론'}

### `.get(key[, default])`

key를 통해 value를 가져옵니다. 

절대로 KeyError가 발생하지 않습니다. default는 기본적으로 None입니다.

In [ ]:
# get을 사용해봅시다.
my_dict = {'apple': '사과', 'banana': '바나나', 'melon': '멜론'}
my_dict['pineapple']

## dictionary comprehension

dictionary도 comprehension을 활용하여 만들 수 있습니다.

In [ ]:
# dictionary comprehension

### dictionary comprehension 사용해보기

In [ ]:
dusts = {'서울': 72, '대전': 82, '구미': 29, '광주': 45, '중국': 200}

In [ ]:
# 미세먼지 농도가 80 초과 지역만 뽑아 봅시다.
# 예) {'대전': 82, '중국': 200}

In [ ]:
# 미세먼지 농도가 80초과는 나쁨 80이하는 보통으로 하는 value를 가지도록 바꿔봅시다.

In [ ]:
# elif 도 사용할 수 있습니다.

# 세트 메소드 활용

## 추가 및 삭제

### `.add(elem)`
elem을 세트에 추가합니다.

In [ ]:
# add를 사용해봅시다.
fruits = {"사과", "바나나", "수박"}

### `update(*others)`

여러가지의 값을 추가합니다.

여기서 반드시 iterable한 값을 넣어야합니다.

In [ ]:
# update를 사용해봅시다.
fruits = {"사과", "바나나", "수박"}

### `.remove(elem)`

elem을 세트에서 삭제하고, 없으면 KeyError가 발생합니다.

In [ ]:
# remove를 사용해봅시다.
fruits = {"사과", "바나나", "수박"}

### `discard(elem)`
x를 세트에서 삭제하고 없어도 에러가 발생하지 않습니다.

In [ ]:
# discard를 사용해봅시다.
fruits = {"사과", "바나나", "수박"}

### `pop()`

임의의 원소를 제거해 반환합니다.

In [ ]:
# pop을 사용해봅시다.
a = {"사과", "바나나", "수박", "아보카도"}

##  `map()`, `zip()`, `filter()`

### `map(function, iterable)`

* Iterable의 모든 원소에 function을 적용한 후 그 결과를 돌려줍니다. 

* 대표적으로 iterable한 타입 - list, dict, set, str, bytes, tuple, range

* return은 map_object 형태로 됩니다.

In [ ]:
numbers = [1, 2, 3]
# 위의 코드를 문자열 '123'으로 만들어봅시다.

In [ ]:
# list comprehension

In [ ]:
chars = ['1', '2', '3']
# 위의 코드를 [1, 2, 3]으로 만들어봅시다.

In [ ]:
# list comprehension

* function은 사용자 정의 함수도 가능합니다.

In [ ]:
# 세제곱의 결과를 나타내는 함수
def cube(n):
    return n**3

### `zip(*iterables)` 

* 복수 iterable한 것들을 모아준다.

* 결과는 튜플의 모음으로 구성된 zip object를 반환한다.

In [ ]:
# 예시를 봅시다.
girls = ['jane', 'iu', 'mary']
boys = ['justin', 'david', 'kim']

In [ ]:
# for문으로 한 명씩 순서대로 매칭시켜봅시다.
# 예) {'jane': 'justin', 'iu': 'david', 'mary': 'kim'}

* 아래와 같이 사용가능하다.

In [ ]:
a = '123'
b = '567'

for digit_a, digit_b in zip(a, b):
    print(digit_a, digit_b)

* zip은 반드시 길이가 같을 때 사용해야한다. 가장 짧은 것을 기준으로 구성한다.

In [ ]:
num1 = [1, 2, 3]
num2 = ['1', '2']
list(zip(num1, num2))

* 길이가 긴 것을 맞춰서 할 수도 있지만, 사용할 일이 없다.

In [ ]:
from itertools import zip_longest
list(zip_longest(num1, num2, fillvalue=0))

### `filter(function, iterable)`

* iterable에서 function의 반환된 결과가 참인 것들만 구성하여 반환한다.

In [ ]:
# 짝수인지 판단하는 함수를 작성해봅시다.

In [ ]:
def even(n):
    return not n%2

In [ ]:
# 다음의 list comprehension과 동일하다.